---
import Button from "../components/Button.astro"
import Tumbo from "../assets/img/tumbo.png"
import { Image } from "astro:assets"
import shop from "../assets/shop.svg"
import { Icon } from 'astro-icon/components';
---

<header class="bg-gray-100 flex flex-col justify-between py-2">
    <div class="flex mx-3 justify-between items-center">

        <Image src={Tumbo} alt="tumbo" width="120" />
        <nav class="flex">
            <Button name="Inicie sesion" class="border-2 border-indigo-200 rounded-xl transition ease-in-out delay-300 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 p-1 py-1 text-lg mr-2" />
            <Image src={shop} alt="shop" width="32" /> 
        </nav>

    </div>

    <div class="container flex items-center mt-4 mx-2">
        <select class="mr-4 border border-black rounded-3xl p-2 px-3">
            <option value="">Categorias</option>
            <option value="">Despensa</option>
            <option value="">Carnes</option>
            <option value="">Frutas</option>
            <option value="">Lacteos</option>
            <option value="">Desayunos</option>
            <option value="">Fiambres</option>
            <option value="">Bebidas</option>
            <option value="">Vinos</option>
            <option value="">Congelados</option>
            <option value="">Pescados</option>
        </select>

        <div class="div1 flex">
            <input type="search" placeholder="Buscar en Tumbo" class="border border-black rounded-3xl p-2 px-6">

            <button class="div2 bg-primary rounded-full h-10 w-10 flex justify-center items-center">
                <Icon name="search" class="text-2xl"/>
            </button>
        </div>

    </div>
</header>

<style>
    .div1{
        position: relative;
    }

    .div2{
        position: absolute;
        right: 1px;
        bottom: px;
        top: 1px;
        color: white;
    }
</style>
